.hero__container{
    background-image: url(../../img/Bitmap\ \(4\).png);
    margin-bottom: 103px;
    background-repeat: no-repeat;
    /* background-position: ; */
    background-size: cover;
    border-radius: 10px;
    width: 1440px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding-left: 165px;
    padding-top: 153px;
    gap: 40px;
    margin-bottom: 160px;
}

.hero__title{
    max-width: 500px;
   max-height: 112px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    /* or 100% */
    letter-spacing: -2.5px;
    color: #FFFFFF;
    margin: 0;
}

.hero__desc{
   max-width: 405px;
   max-height: 100px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    color: #FFFFFF;
    margin: 0;
    margin-left: 100px;
}

.hero__btn{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */
    text-align: center;
    color: #FFFFFF;
    border: none;
    max-width: 180px;
    max-height: 53px;
    background-color : #FCB72B; 
    margin-left: 100px;
    padding: 14px 39px ;
}
.hero__img{
    position: relative;
    right:165px;
    bottom: 190px;
}
.hero__img--2{
    position:relative ;
    left: 535px;
    bottom:246px;
}